<h1><%=t '.title' %></h1>

<div class="notice">
  <% @per_address_info.each do |address, info| %>
    <% cls = case info[:status] 
        when :user_already_exists then 'ui-icon-star' 
        when :user_already_invited then 'ui-icon-clock' 
        when :user_invited then 'ui-icon-check'
      end
    %>
    <div>
      <span class="ui-icon <%= cls %>" style="display:inline-block"></span>
      <span><%= info[:message] %></span>
    </div>
  <% end %>
</div>
