<% content_for :navigation do %>
<% end %>

<h1><%= t('.title') %></h1>

<%= render(:partial => :talk, :collection => @current_talks) || render('no_talks') %>

<%= paginate @current_talks %>

<%= link_to t('.new_talk'), new_talk_path(:category_id => nil), :class => 'button' %>
