<% content_for :navigation do %>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, topic %></li>
  <% end %>
<% end %>

<h1>Overview#index</h1>
<% @current_talks.each do |talk| %>
  <%= render talk %>
<% end %>
