<% content_for :jquery_script do %>
  $('#new_talk_form').enable_submit_if_possible('input#talk_title,textarea#post_text');
  $('#new_talk_form textarea').rteditor();
<% end %>

<h1>
<% if @category.nil? %>
  <%= t('.title') %>
<% else %>
  <%= t('.title_with_category', :category => @category.name) %>
<% end %>
</h1>

<fieldset>
  <%= render 'form' %>
</fieldset>
