/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require wusheng
 *= require smoothness/jquery-ui-1.8.16.custom.css
*/

body {
  background-color: gray;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.container {
  margin: 0 5%;
}

#header {
  max-width: 900px;
  height: 110px;
  background-color: #000000;
  position: relative;
  
  .navigation {
    position: absolute;
    right: 12px;
    bottom: 6px;
  }
}

#main {
  background-color: #dddddd;
  max-width: 900px;
  clear: left;
}

#sidebar {
  background-color: #777777;
  max-width: 100%;
  min-width: 100px;
  width: 230px;
  float: right;
  margin-left: 12px;
  margin-top: 20px;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    border-bottom: 1px solid black;
    width: 230px;
    color: white;
    text-decoration: none;
    float: left;
    a {
      display: block;
      width: 214px;
      padding: 6px 8px;
      color: white;
      text-decoration: none;
      float: left;
    }
    a:hover { 
      background-color: #aaaaaa; 
    }
    a.current {
      color: black;
      background-color: white;
      a {
        color: black;
      }
    }
    a .count {
      font-size: 80%;
      color: white;
      background-color: #999999;
      padding: 2px 6px;
      border-radius: 12px;
      float: right;
    }
  }
}

.content {
  width: 658px;
  background-color: white;
  float: left;
  margin-bottom: 20px;
}
.content-inner
{
  padding: 12px 20px;
}
