/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require jquery-ui-1.8.16.custom.css
*/

@import "variables";
$max-width: 900px;
$min-width: 475px;
$sidebar-width: 230px;

body {
  background-color: gray;
  font-family: 'lucida grande','Lucida Sans Unicode',tahoma,sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  
  &.button {
    color: black;
    height: 18px;
    font-size: 12px;
    background-color: $base-color-light;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    &:hover {
      background-color: $base-color;
    }
  }
}

img {
  border: 0px;
}

fieldset {
  background-color: $base-color-light;
  margin: 4px 0;
  padding: 6px 12px;
  border: 1px solid $base-color;
  .field {
    margin-bottom: 25px;
    label {
      font-size: 90%;
      font-weight: bold;
      display: block;
    }
    input {
      font-size: 140%;
    }
  }
  .actions {
    text-align: right;
    clear: left;
  }
}

#container {}

#header {
  width: 90%;
  max-width: $max-width;
  min-width: $min-width;
  height: 120px;
  margin: auto; /* this centers the div */
  background: url('logo.png') no-repeat;
  background-color: $base-color-dark;
  position: relative;
  font-size: 80%;
  
  .navigation {
    position: absolute;
    right: 12px;
    bottom: 6px;
    a {
      color: white;
      margin-left: 12px;
      &:hover {
        color: $base-color-light;
      }
    }
  }
}

#main {
  margin: auto;
  max-width: 900px;
  width: 90%;
  min-width: 475px;
  min-height: 400px;
  clear: left;
  background-color: white;
  
  h1 {
    color: black;
    background-color: $base-color-light;
    font-size: 120%;
    font-weight: normal;
    margin: 7px 0 0 0;
    padding: 7px 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid $base-color;
    .button {
      background-color: white;
      float: right;
      position: inline;
      vertical-align: middle;
      &:hover { background-color: $base-color; }
    }
  }
}

#sidebar {
  width: $sidebar-width;
  float: right;
  font-size: 80%;
  margin: 60px 8px 12px 0;

  .panel {
    float: right;
    margin: 4px 0;
    padding: 4px 6px 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: $base-color-light;
    h2 {
      color: $base-color-dark;
      font-size: 1em;
      font-weight: bold;
      margin: 2px 0 4px;
      padding: 0 8px;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style-type: none;
      border-bottom: 1px solid black;
      text-decoration: none;
      float: left;
      >* {
        display: block;
        width: $sidebar-width - 2 * 8px;
        padding: 6px 8px;
        color: $base-color-dark;
        text-decoration: none;
        float: left;
        .count {
          font-size: 80%;
          color: white;
          background-color: #999999;
          padding: 2px 6px;
          border-radius: 12px;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          float: right;
        }
      }
      a:hover { 
        background-color: #aaaaaa !important; 
      }
      a.current {
        background-color: white;
      }
    }
  }
}

#content {
  background-color: white;
  margin-right: 250px;
  margin-bottom: 20px;
  
  .content-inner {
    padding: 8px 12px;
  }
  
  .pagination {
    margin: 18px 0;
    text-align: center;
    &>span >a {
      font-size: 12px;
      padding: 0 4px;
      margin: 0px 3px;
      color: $base-color-dark;
      background-color: $base-color-light;
      border: 1px solid $base-color;
      border-radius: 4px;
    }
    .page {
      a, &.gap, &.current {
        font-size: 18px;
        font-weight: bold;
        margin: 0 2px;
        padding: 2px 5px;
      }
      a {
        padding: 2px 9px;
        color: $base-color-dark;
        background-color: $base-color-light;
        border: 1px solid $base-color;
        border-radius: 50%;
        &:hover {
          background-color: white;
        }
      }
    }
  }
}

#notice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  padding: 6px 40px;
  border-radius: 0 0 14px 14px;
  background-color: #C6301C;
  z-index: 999;
}
