// Place all the styles related to the Overview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav {
  background-color: #777777;
  width: 120px;
  float: left;

  ul { 
    padding: 0;
  }
  li {
    list-style-type: none;
    height: 20px;
    padding: 0;
  }
  a {
    color: white;
    text-decoration: none;
    padding: 2px 6px;
    display: block;
  }
  a:hover { background-color: #aaaaaa; }
}

#content {
  border: 1px solid black;
  margin: 40px 120px 10px 120px;
}

#content_inner {
  margin: 6px 10px 20px 130px;
}
