// Place all the styles related to the Talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.talk {
  border: 1px solid red;
  margin: 2px 0;
  padding: 3px 6px;
}
