$wusheng-main-color: #CE0011;
$wusheng-bg-color: #222222;

body {
  background-color: $wusheng-bg-color;
}

a {
  color: $wusheng-main-color;
}

.container {
  margin: 0 5%;
}

#header {
  background-color: black;
  background-image: image-url('/assets/wu_sheng_logo.png');
  background-repeat: no-repeat;
  
  .navigation {
    a:visited {
      color: $wusheng-main-color;
    }
  }
}

#sidebar {
  li {
    border-bottom: 1px solid $wusheng-bg-color;
  }
}
