$wusheng-main-color: #CE0011;
$wusheng-bg-color: #222222;

body {
  background-color: $wusheng-bg-color;
  font-family: sans-serif;
}

a {
  color: $wusheng-main-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  margin: 0 5%;
}

#header {
  max-width: 900px;
  height: 110px;
  background-color: #000000;
  background-image: image-url('wu_sheng_logo.png');
  background-repeat: no-repeat;
  position: relative;
  
  .navigation {
    position: absolute;
    right: 12px;
    bottom: 6px;
    a:visited {
      color: $wusheng-main-color;
    }
  }
}

#main {
  background-color: #dddddd;
  max-width: 900px;
  clear: left;
}

#sidebar {
  background-color: #777777;
  max-width: 100%;
  min-width: 100px;
  width: 200px;
  float: right;
  margin-left: 12px;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    border-bottom: 1px solid $wusheng-bg-color;
    width: 188px;
    color: white;
    text-decoration: none;
    float: left;
    a {
      display: block;
      width: 188px;
      padding: 2px 6px;
      color: white;
      text-decoration: none;
      float: left;
    }
    a:hover { 
      background-color: #aaaaaa; 
    }
    a.current {
      color: black;
      background-color: white;
      a {
        color: black;
      }
    }
    a .count {
      font-size: 80%;
      color: white;
      background-color: #999999;
      padding: 2px 6px;
      border-radius: 12px;
      float: right;
    }
  }
}

.content {
  width: 688px;
  background-color: white;
  float: left;
  margin-bottom: 20px;
}
.content-inner
{
  padding: 12px 20px;
}
